.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 50%; /* Center the navbar horizontally */
  transform: translateX(-50%); /* Account for the navbar's own width */
  height: 60px;
  width: 468px; /* Adjust this as needed */
  background: #1e1e1e;
  color: #fff;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 24px;
  color: white;
  display: flex; /* Add this line to make the icon align in the center */
  align-items: center; /* Add this line to make the icon align in the center */
}

.label {
  font-size: 12px;
  color: white;
}

/* For devices with width less than or equal to 428px (iPhone 13 Pro Max width) */
@media (max-width: 428px) {
  body {
    padding: 10px; /* Add some padding on smaller screens */
  }
  .nav {
    width: 100%; /* Make the navbar span the full width on small screens */
    left: 0;
    transform: none;
  }
}
